<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="user-scalable=no, width=device-width">
	<title>Index</title>
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>

<div id="content"></div>

<script type="text/template" id="indexTemplate">
	<header>
		<div class="logo no-back"></div>
		<a class="nav-search" id="search" href="#search"></a>
		<h1>City</h1>
	</header>
	<div class="content">
		<div class="index">

		</div>
	</div>
</script>
	

<script type="text/template" id="searchTemplate">
	<header>
		<a class="previous">
			<div class="back go-back"></div>
			<div class="logo go-back"></div>
		</a>
		<h1>Search</h1>
	</header>
	<div class="content">
		<div class="search">
			<div class="search-item">
				<a class="search-btn"></a>
				<input class="search-input" type="search" placeholder="Find school……" />
			</div>
			<div class="search-item">
				<h2>Type</h2>
				<ul>
				<% for (var i = 0; i < length; i++) { %>
					<li>
						<p><%= type[i].text %></p>
						<% for (var j = 0; j < type[i].children.length; j++) { %>
							<span><%= type[i].children[j].text %></span>
						<% } %>
					</li>
				<% } %>
			</div>
		</div>
	</div>
</script>

	<script src="js/jquery-2.1.0.min.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/backbone-min.js"></script>
	<script src="js/index.js"></script>
</body>
</html>